<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>frames</key>
		<dict>
			<key>akaryuu.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,487},{227,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{227,227}}</string>
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>

			<key>all_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{570,675},{98,98}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{1,1},{98,98}}</string>
				<key>sourceSize</key>
				<string>{100,100}</string>
			</dict>

			<key>aoryuu.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,258},{227,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{227,227}}</string>
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>

			<key>aya.png</key>
			<dict>
				<key>frame</key>
				<string>{{258,0},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>drink_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{640,153},{73,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{73,113}}</string>
				<key>sourceSize</key>
				<string>{73,113}</string>
			</dict>

			<key>fruits_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,669},{113,107}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{113,107}}</string>
				<key>sourceSize</key>
				<string>{113,107}</string>
			</dict>

			<key>hand_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,364},{142,194}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{28,3},{142,194}}</string>
				<key>sourceSize</key>
				<string>{200,200}</string>
			</dict>

			<key>hiro.png</key>
			<dict>
				<key>frame</key>
				<string>{{455,487},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>market_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,0},{256,256}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{256,256}}</string>
				<key>sourceSize</key>
				<string>{256,256}</string>
			</dict>

			<key>maru_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{622,0},{151,151}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{151,151}}</string>
				<key>sourceSize</key>
				<string>{151,151}</string>
			</dict>

			<key>meat_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,364},{111,109}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,1},{111,109}}</string>
				<key>sourceSize</key>
				<string>{113,113}</string>
			</dict>

			<key>shino.png</key>
			<dict>
				<key>frame</key>
				<string>{{458,182},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

			<key>special_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{229,487},{224,209}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{2,9},{224,209}}</string>
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>

			<key>syougun.png</key>
			<dict>
				<key>frame</key>
				<string>{{0,258},{227,227}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{227,227}}</string>
				<key>sourceSize</key>
				<string>{227,227}</string>
			</dict>

			<key>vegetable_icon.png</key>
			<dict>
				<key>frame</key>
				<string>{{637,560},{105,113}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{105,113}}</string>
				<key>sourceSize</key>
				<string>{105,113}</string>
			</dict>

			<key>yomo.png</key>
			<dict>
				<key>frame</key>
				<string>{{440,0},{180,180}}</string>
				<key>offset</key>
				<string>{0,0}</string>
				<key>rotated</key>
				<false/>
				<key>sourceColorRect</key>
				<string>{{0,0},{180,180}}</string>
				<key>sourceSize</key>
				<string>{180,180}</string>
			</dict>

		</dict>

		<key>metadata</key>
		<dict>
			<key>format</key>
			<integer>2</integer>
			<key>size</key>
			<string>{781,778}</string>
			<key>textureFileName</key>
			<string>icons.png</string>
			</dict>
		</dict>
</plist>